<section class="bar background-book no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg"><i class="fa fa-book"></i>
                </div>
                <h3 class="text-uppercase">Getting Started</h3>
                <p class="lead">Get started by reading The Specs Book.</p>
                <p class="text-center">
                    <a href="/docs/book/master/"
                       class="btn btn-template-transparent-black btn-lg">
                        master
                    </a>
                </p>
            </div>

        </div>
    </div>
</section>

