<section class="bar background-github no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg">
                    <i class="fa fa-code"></i>
                </div>
                <h3 class="text-uppercase">
                    Want to check out Specs on GitHub?</h3>
                <p class="lead">
                    Any contribution in form of PRs, creating issues or
                  taking part in discussions is highly valued.
                </p>
                <p class="text-center">
                    <a href="https://github.com/slide-rs/specs"
                       class="btn btn-template-transparent-black btn-lg">
                        Go to GitHub
                    </a>
                </p>
            </div>

        </div>
    </div>
</section>

